@using cse325_team1.Data.Models
@using cse325_team1.Data.Services
@using cse325_team1.Components.Shared
@using cse325_team1.Components


@page "/Events"

@inject IEventService EventService

<h3>Events</h3>
<div class="events-page">
    <div class="top-bar">
        <button class="btn add-event-btn" @onclick="ShowAdd">&#43;</button>
        <button class="btn list-view-btn" @onclick="listView" title="List View Button">&#9776;</button>
        <button class="btn grid-view-btn" @onclick="gridView" title="Grid View Button">&#9783;</button>
    </div>
    <div class="modal-cont">
    <EventModal eventType="@currentType" IsActive="@isModalOpen" IsActiveChanged="@((v) => isModalOpen = v)" SelectedEvent="@SelectedEvent" />
    </div>

    <ul class="events-cont @CssClass">
        @if (events != null) {
            @foreach (var e in events) {
                <Event dateTime="@e.dateTime" title="@e.title" description="@e.description" location="@e.location" OnEdit="() => ShowEdit(e)"/>
            }
        }
    </ul>
</div>



@code {

    private List<EventModel> events;

    private EventModel SelectedEvent;

    private string CssClass = "list-view";

    protected override async Task OnInitializedAsync() {
        events = await EventService.GetEventsAsync();
    }

    private void listView() {
        CssClass = "list-view";
    }

    private void gridView() {
        CssClass = "grid-view";
    }

    private bool isModalOpen = false;
    private string currentType = "add";

    private void ShowAdd()
    {
        currentType = "add";
        isModalOpen = true;
    }

    public void ShowEdit(EventModel e)
    {
        currentType = "edit";
        isModalOpen = true;
        SelectedEvent = e;
    }
    
}