@using cse325_team1.Components.Shared
@using cse325_team1.Data.Models
@using cse325_team1.Data
@using cse325_team1.Data.Services
@using Microsoft.EntityFrameworkCore


@page "/"

@inject IEventService EventService
@inject SessionStore Session
@inject AppDbContext Db



<PageTitle>Home</PageTitle>

@if (Session.IsLoggedIn) {
    <div class="home-welcome">Welcome @Session.Username to JournalMan. This page will give you a small set of your Events and Journal Entries. Navigate to the specific pages to view all of them.</div>
}
else {
    <div class="home-welcome">
    Welcome to JournalMan, the one place to stop for both journal and event keeping. You can signup and keep a personal record of your daily life, while also tracking future event with an included countdown until its time! View below for some examples. 
</div>
}

<button class="btn @CssClass" @onclick="SetTarget" >@target</button>

<div class="home-content">
        <ul class="home-cont @CssClass">
        @if (CssClass == "events" && events != null) {
            <h4>Event Examples</h4>
            @foreach (var e in events.Take(3)) {
                <EventSingle DateTime="@e.DateTime" title="@e.Title" Description="@e.Description" Location="@e.Location" />
            }
        }
        else if (CssClass == "journal") {
            <h4>Journal examples</h4>
            <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Updated</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var j in journals.Take(3))
            {
                <tr>
                    <td>
                        <div style="font-weight:900">@j.Title</div>
                        <div class="badge">Id: @j.Id</div>
                    </td>
                    <td>@j.UpdatedAt.ToLocalTime()</td>
                    <td style="white-space:nowrap">
                        <a class="btn" href="@($"/journals/{j.Id}")">Open</a>
                        <a class="btn ghost" href="@($"/journals/{j.Id}/edit")">Edit</a>
                        <a class="btn danger" href="@($"/journals/{j.Id}/delete")">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        }
        </ul>
</div>



@code {
    private string target { get; set; } = "Journal";
    private string CssClass { get; set; } = "events";
    private List<Event> events;

    private List<JournalEntry> journals;
    
    protected override async Task OnInitializedAsync() {
        if (Session.IsLoggedIn) {
            events = await Db.Events.AsNoTracking()
                .Where(x => x.UserId == Session.UserId.Value)
                .OrderByDescending(x => x.UpdatedAt)
                .ToListAsync();
            journals = await Db.JournalEntries.AsNoTracking()
            .Where(x => x.UserId == Session.UserId.Value)
            .OrderByDescending(x => x.UpdatedAt)
            .ToListAsync();
        } else if  (!Session.IsLoggedIn) {
            events = await EventService.GetEventsAsync();
            journals = await EventService.GetJournalsAsync();
        }
    }

    private void SetTarget() {
        if (target == "Events") {
            target = "Journal";
            CssClass = "events";
        }
        else if (target == "Journal") {
            target = "Events";
            CssClass = "journal";
        }
    }
}
